h1{
    color:red;
}
img{
    width:200px;
}
h1{
  font-family: 'Charmonman', cursive;
}
body{
    background-color:green;
    background-image: url(https://ewedit.files.wordpress.com/2015/04/furious-7-cast_0.jpg);
}
li{
    color:white;
}